.beer-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 400px;
    margin-left: 400px;
    }